<div class="main <%= @user_location ? @previsao["weather"][0]['main'] : 'Sunny' %>">
    <% if @user_location %>
    <div class="condition"><%= @previsao["weather"][0]["description"] %></div>
    <div class="temp"><%= @previsao["main"]["temp"].round(0) %><sup>ºc</sup></div>
    <div class="city"><%= @location %></div>
    <div class="time"><%= @previsao["time"] %></div>

    <div class="week">
        <% @days.each_with_index do |day, index|  %>
        <div style=" animation-delay: <%= ((index.to_f + 1) / 5) + 0.5 %>s;">
            <div><%= day['day_name'] %></div>
            <div>
                <i class="<%= day['icon'] %>"></i>
            </div>
            <div><%= day['main']['temp_min'].round(0) %> | <%= day['main']['temp_max'].round(0) %></div>
        </div>
        <% end %>
    </div>

    <div class="hours">
        <% @hours.each_with_index do |hour, index|  %>
        <div class="hour" style=" animation-delay: <%= ((index.to_f + 1) / 5) + 0.5 %>s;">
            <div><%= hour['time'] %></div>
        </div>
        <% end %>
        <div class="hours-animation-slide "></div>

    </div>


    <div id="chart_div" class="hours-chart">
    </div>

    <% else %>
    <div class="week">
        <h1>Pesquise um endereço:</h1>
    </div>
    <% end %>
</div>

<div class="menu">
    <div class="change-city">
        <i class="fas fa-bars"></i>
    </div>

    <div class="menu-item">

        <form action="./" class="search-form">
            <input class="search" type="text" name="city" placeholder="Pesquisar">
            <input type="submit">
        </form>

        <div class="menu-city">
            <%= @user_location ? @location  : 'Pesquise um Endereço' %>
        </div>
        <div class="menu-country">
            <%= @user_location ? @previsao["sys"]["country"] : 'Ou compartilhe sua localização'%>
        </div>
    </div>

    <div class="menu-background"></div>
</div>

<div class=" <%=  @user_location ? 'menu-foreground' : '' %>">
    <div class="loader"></div>
</div>



<% if !@user_location %>
<script>
    navigator.geolocation.getCurrentPosition(async data => {
        const address = {
            latitude: data.coords.latitude,
            longitude: data.coords.longitude
        };
        document.querySelector('.menu-item').style.display = 'none'
        document.querySelector('.loader').style.display = 'initial'
        document.querySelector('.menu-item').classList.remove('opened')
        document.querySelector('.menu-item').classList.add('closed')
        document.querySelector('.week').remove()
        const div = document.createElement('div')
        div.classList.add('menu-foreground-out')
        document.body.appendChild(div)
        location.href = `./?lat=${address.latitude}&long=${address.longitude}`
    }, error => {
        document.querySelector('.menu-item').classList.add('opened')
        document.querySelector('.menu-background').style.display = 'block'
        document.querySelector('.week').remove()
    });
</script>
<% else %>
<%= javascript_tag do %>
var data1 = [
<% @hours.each do |hour|  %>
['', <%= hour['main']['temp'].round(0) %>, '<%= hour['main']['temp'].round(0) %>'],
<% end %>
];
<% end %>
<%= javascript_pack_tag 'previsao' %>
<% end %>

<script>
    document.querySelector('form').addEventListener('submit', () => {
        console.log(0)
        document.querySelector('.loader').style.display = 'initial'
        document.querySelector('.menu-item').classList.remove('opened')
        document.querySelector('.menu-item').classList.add('closed')
        const div = document.createElement('div')
        div.classList.add('menu-foreground-out')
        document.body.appendChild(div)
    })
</script>